/* styling for header */
.header {
	background-color:#000;
	height:50px;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:5;
}

.background {
	background-color:#E4FFE5;
}

.nav {
	color:#fff;
	height:auto;
	margin:20px;
}

/* styling for content box*/
#contentBox {
	background-color: #AEE8E2;
	border-radius: 1em;
	height:auto;
	margin: 0 auto;
	padding:1em 0;
	position:relative;
	top:150px;
	width:650px;
	z-index:4;
}

.block {
	margin:30px 0;
}

#content {
	height: auto;
	margin: 0 auto;
	width:80%;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight:500;
	letter-spacing: 0.1em;
	text-align: center;
	text-transform: uppercase;
}

.sIForm {
	margin:0 auto;
}

.sIField {
	float:right;
	height:3em;
	width:32em;
}

.sILabel {
	font-family: 'Muli', sans-serif;
	font-size:1.5em;
	text-transform: uppercase;
	width:1em;
}

#logInButton {
	background-color: #85DAFF;
	border:none;
	color:#fff;
	font-family: 'Muli', sans-serif;
	font-size:1.3em;
	letter-spacing: 0.1em;
	padding:0.5em;
	text-transform: uppercase;
	width:100%;
}
#signUpButton {
	background-color: #79E4E8;
	border:none;
	color:#fff;
	font-family: 'Muli', sans-serif;
	font-size:1.3em;
	letter-spacing: 0.1em;
	margin-top:7px;
	padding:0.5em;
	text-transform: uppercase;
	width:100%;
}

/*styling for sign up page */
#contentBoxSignUp {
	background-color: #AEE8E2;
	border-radius: 1em;
	height:auto;
	margin: 0 auto 100px;
	padding:1em 0;
	position:relative;
	top:100px;
	width:650px;
	z-index:4;
}

.message {
	font-family:"Pontano Sans", sans-serif;
}

#fName.ng-invalid {
	color:red;
}

.sIField.ng-invalid {
	color:red;
}

.notHidden {
	/* empty on purpose */
}

.hidden {
	display:none;
}

/* styling for message boards */

#dashboardBox {
	background-color: #AEE8E2;
	border-radius: 1em;
	height:auto;
	margin: 0 auto 100px;
	padding:1em;
	position:relative;
	top:100px;
	width:1000px;
	z-index:4;
}

#dashContent {
	height: auto;
	margin: 0 auto 0 auto;
	position:relative;
	width:90%;
}


#dashBlockTopic {
	font-family:"Pontano Sans", sans-serif;
	font-size: 1.7em;
	margin: auto 0;
	text-transform: uppercase;
}

.writerBlock {
	background-color: #FFEFD1;
	border-radius: 1em;
	height:auto;
	padding:1em 0;
	margin: 15px 0;
	width:100%;
}

.bName {
	font-family: 'Muli', sans-serif;
	font-size:1.2em;
	margin-left:20px;
	text-transform: uppercase;
}

.bDate {
	font-family:"Pontano Sans", sans-serif;
	font-size:1em;
	font-weight: 400;
	margin-bottom:1em;
	margin-left:20px;
}

.messageBlock {
	background-color:#fff;
	border-radius:1em;
	height:auto;
	margin-left:20px;
	margin-right:20px;
	padding:1em;
	width:auto;
}

#nMessage {
	height:6em;
	resize:none; 
	margin-left:3%;
	/* found this code here: http://stackoverflow.com/questions/5235142/how-to-disable-resizable-property-of-textarea, user Donut's post, line two of the first code block */
	width:93%;
}

#responseBlock {
	background-color: #E2E2FF;
	border-radius: 1em;
	height:auto;
	padding:1em 0;
	margin: 15px 0;
	width:100%;
}

#postButton {
	background-color: #A6BFFF;
	border:none;
	color:#fff;
	font-family: 'Muli', sans-serif;
	font-size:1.3em;
	letter-spacing: 0.1em;
	margin-left:3%;
	margin-top:5px;
	padding:0.5em;
	text-transform: uppercase;
	width:94%;
}

/* styling for dashboard */

#divBlocks1 {
	background-color:#FFF3E5;
	border-radius: 1em;
	display:block;
	float:left;
	height:auto;
	padding:3%;
	margin-top: 15px;
	margin-right: 8%;
	width:40%;
}

#divBlocks2 {
	background-color:#D5FCFF;
	border-radius: 1em;
	display:block;
	float:left;
	height:auto;
	padding:3%;
	margin-top: 15px;
	width:40%;
}

.headings {
	font-family: 'Muli', sans-serif;
	font-size:1.2em;
	margin-left:10px;
	text-transform: uppercase;
}

#startField {
	margin-left:10px;
	margin-top:10px;
	height:2em;
	width:93%;
}

#list {
	background-color:#fff;
	border-radius:1em;
	margin-left:10px;
	margin-top:10px;
	padding:0.5em;
}

#chooseButton {
	background-color: #58D665;
	border:none;
	color:#fff;
	font-family: 'Muli', sans-serif;
	font-size:1.3em;
	letter-spacing: 0.1em;
	margin-left:3%;
	margin-top:10px;
	padding:0.5em;
	text-transform: uppercase;
	width:94%;
}

